<article class="flex flex-col h-[550px] max-w-sm mb-6 pb-4 rounded-lg shadow-lg overflow-hidden bg-white">
  <%= link_to article_path(article), class: "flex flex-col items-center w-full h-full" do %>
    <div class="w-full overflow-hidden max-h-[300px]">
      <img src=<%= article.image_url ? image_url(article.image_url) : "http://via.placeholder.com/640x400" %> alt="" class="object-cover w-full h-full">
    </div>

    <div class="px-4 py-2">
      <div class="flex items-baseline space-x-2">
        <span class="text-xs font-semibold tracking-wide uppercase text-secondary">Tech</span>
        <span class="text-xs text-gray-500"><%= format_date(article.created_at) %></span>
      </div>

      <h4 class="mt-2 mb-2 text-xl font-bold leading-tight truncate">
        <%= article.title %>
      </h4>

      <p class="overflow-hidden text-base leading-normal text-gray-700 overflow-ellipsis">
        <%= article.body.truncate_words(30) %>
      </p>
    </div>
  <% end %>

  <div class="flex items-center px-4 space-x-4">
    <img src=<%= profile_image_url(article.profile) %> alt="<%= "#{article.profile.first_name} #{article.profile.last_name}" %>" class="object-cover w-10 h-10 rounded-full">
    <div>
      <p class="text-sm font-semibold text-gray-900"><%= "#{article.profile.first_name} #{article.profile.last_name}" %></p>
    </div>
  </div>
</article>
