<%= form_with(model: @article, data: {controller: "tinymce"}, class: "w-full border border-gray px-8 py-4 rounded-lg") do |form| %>
    <div class="flex w-full">  
        <% @article.errors.full_messages.any? do |message| %>
            <p style="color: red"><%= message %></p>
        <% end %>
    </div>

    <div class="space-y-2">
        <%= form.text_field :title, placeholder: "Title" %>
        <%= form.text_area :body, id: "tinymce", placeholder: "Write here." %>
    </div>

    <%= form.hidden_field(:image_url, value: "") %>

    <div class="flex items-center justify-between mt-4">
        <%= link_to "Cancel", articles_path, class: "btn-lg btn-outline" %>

        <div class="btn-primary btn-lg">
            <%= form.submit "Create" %>
        </div>
    </div> 
<% end %>