<%= form_with(model: @article, data: {controller: "tinymce"}, class: "relative") do |form| %>
    <div class="absolute z-50 flex w-full top-[7rem]">
        <%= form.text_field :title, class: "!text-5xl w-full outline-none py-1 !px-0 text-md border-2 rounded-md", placeholder: "TITLE" %>
        
        <% @article.errors.full_messages_for(:title).each do |message| %>
            <p style="color: red"><%= message %></p>
        <% end %>
    </div>

    <div>
        <%= form.text_area :body, class: "tinymce w-full font-serif p-4 outline-none text-gray-600 bg-indigo-50 rounded-md", size: "30x10", placeholder: "Write here." %>

        <% @article.errors.full_messages_for(:body).each do |message| %>
            <p style="color: red"><%= message %></p>
        <% end %>
    </div>

    <% form.hidden_field(:image_url, value: @download_url) %>

    <div class="mt-4 btn-primary btn-lg">
        <%= form.submit %>
    </div> 
<% end %>