<%= form_with model: @article do |form| %>
    <div class="flex">
        <%= form.label :title, "Title: ", class: "text-lx font-serif" %>
        <%= form.text_field :title, class: "w-full ml-2 outline-none py-1 px-2 text-md border-2 rounded-md", placeholder: "title" %>
        <% @article.errors.full_messages_for(:title).each do |message| %>
            <p style="color: red"><%= message %></p>
        <% end %>
    </div>

    <div>
        <%= form.label :body, "Body: ", class: "block mb-2 text-lg font-serif" %>
        <%= form.text_area :body, size: "30x10", class: "w-full font-serif p-4 outline-none text-gray-600 bg-indigo-50 rounded-md", size: "30x10" %>
        <% @article.errors.full_messages_for(:body).each do |message| %>
            <p style="color: red"><%= message %></p>
        <% end %>
    </div>

    <div class= "px-6 py-2 mx-auto flex justify-center rounded-md text-lg font-semibold text-indigo-100 bg-indigo-600 hover:cursor-pointer">
        <%= form.submit %>
    </div> 
<% end %>