<%= form_with(model: @article, data: {controller: "tinymce"}, class: "w-full px-8 py-4 rounded-lg space-y-2") do |form| %>
    <div class="flex w-full">  
        <% @article.errors.full_messages.any? do |message| %>
            <p style="color: red"><%= message %></p>
        <% end %>
    </div>

    <div class="flex items-center justify-center overflow-hidden h-[500px]">
        <img id="article_image" src=<%= image_url("placeholder.jpeg") %> class="object-cover w-full h-full rounded-lg">
    </div>

    <div class="space-y-2">
        <div class="flex items-center justify-end space-x-2">
            <p>Choose a category:</p>
            <%= form.select :category_id, options_for_select(@current_categories, selected: "2"), {}, class: "rounded-lg border-gray border-2" %>
        </div>
        
        <%= form.text_field :title, placeholder: "Title" %>

        <%= form.text_area :body, id: "tinymce", placeholder: "Write here." %>
    </div>

    <%= form.hidden_field(:image_url, value: "") %>

    <div class="flex items-center justify-between mt-4">
        <%= link_to "Cancel", articles_path, class: "btn-lg btn-outline" %>

        <div class="btn-primary btn-lg">
            <%= form.submit %>
        </div>
    </div> 
<% end %>