<div>
  <%= form_with(model: @author, url: author_path(@author), class: "flex flex-col items-center p-4 border-solid border-2 border-black rounded-lg m-8") do |f| %>
    <div class="mb-4">
      <%= f.label :first_name, placeholder: "First Name" %>
      <%= f.text_field :first_name, class: "rounded-lg w-full" %>
    </div>

    <div class="mb-4">
      <%= f.label :last_name, placeholder: "Last Name" %>
      <%= f.text_field :last_name, class: "rounded-lg w-full" %>
    </div>

    <div class="mb-4">
      <%= f.text_area :bio, placeholder: "Tell us about yourself.", size: "40x20", class: "border-solid border-2 border-black rounded-lg w-full" %>
    </div>

    <%= f.submit "Update Details", class: "btn-primary" %>
  <% end %>
</div>
