<%= form_with(model: @user, url: signup_path, class: "space-y-8") do |f| %>
  <div class="rounded-md shadow-sm">
    <div>
      <% @user.errors.full_messages.any? do |error| %>
        <p class="text-red-500"><%= error %></p>
      <% end %>
    </div>
    
    <div class="flex-col mb-4 space-y-2">
      <%= fields_for :profile do |f| %>
        <div class="flex justify-between">
          <div class="mr-2">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autofocus: true, placeholder: "First name" %>
          </div>
          
          <div class="ml-2">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, placeholder: "Last name" %>
          </div>
        </div>
      <% end %>
      <div>
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: "Email" %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "Password" %>
      </div>
    
      <div>
        <%= f.label :confirm_password %>
        <%= f.password_field :password_confirmation, placeholder: "Password" %>
      </div>

      <div>
        <% @user.errors.full_messages_for(:password).each do |message| %>
          <p style="color: red"><%= message %></p>
        <% end %>
      </div>
    </div>
    
    <div>
      <%= f.submit "Sign up", class: "btn-primary btn-full mt-8" %>
    </div>
  </div>
<% end %>