<header class="flex items-center justify-between px-8 py-4 text-black border-b-2 border-solid shadow-md border-gray">
  <%= link_to root_path do %>
    <h3>Mastery.</h3>
  <% end %>
    
  <div class="flex items-center">
    <%= link_to "Home", root_path, class: "w-20 navbar-link" %>
    
    <%= link_to "Categories", "", class: "w-20 navbar-link" %>

    <%= link_to "Latest", "", class: "w-20 navbar-link" %>

    <% if logged_in?  %>
      <%= link_to "New article", new_article_path, class: "w-20 navbar-link"%>

      <%= link_to profile_path(id: current_profile), class: "h-full" do %>
        <div class="w-12 h-12 ml-2 overflow-hidden border-2 border-solid rounded-full border-primary">
          <%# <img src=<%= profile_image_url(current_profile) alt="" class="h-full object-fit" %>
          <img src=<%= image_url("Profile/pexels-pixabay-220453.jpg") %> alt="" class="object-cover w-full h-full">
        </div>
      <% end %>
    <% else %>
      <%= link_to "Sign in", signin_path, class: "btn-primary btn-sm" %>
    <% end %>
  </div>
</header>

<%# user not logged in %>
<%# show sign up and log in buttons in nav %>

<%# user is logged in %>
<%# show profile image %>

<%# always show %>
<%# home, categories, latest, maybe: search %>