<%= form_with(model: @profile, url: profile_path(id: @profile), method: :put) do |f| %>
  <div data-controller="profile" class="flex flex-col items-center w-full h-full mt-16">
    <div class="flex flex-col items-center mb-12">
      <div class="flex flex-col items-center mb-4">
        <div class="flex items-center justify-center mb-2 overflow-hidden rounded-full w-80 h-80">
          <img 
            src=<%= profile_image_url(@profile) %> 
            alt=""
            data-profile-target="imageElement"
            class="object-cover h-full">
        </div>
        
        <div>
          <input type="file" name="image" id="image" data-action="profile#uploadImage" data-profile-target="imageInput" class="inputfile" />
          <label for="image">Choose a file</label>
        </div>
      </div>

      <%= f.hidden_field(:image_url, data: {profile_target: "imageUrl"}) %>

      <div class="flex flex-row items-center mb-4 w-88">
        <div class="flex flex-col items-start w-full mr-4">
          <%= f.label :first_name, class: "font-bold" %>
          <%= f.text_field :first_name, value: @profile.first_name %>
        </div>
        
        <div class="flex flex-col items-start w-full ml-4">
          <%= f.label :last_name, class: "font-bold" %>
          <%= f.text_field :last_name, value: @profile.last_name %>
        </div>
      </div>

      <%# <div class="w-88">
        <%= f.label :email, class: "font-bold" %>
        <%# <%= f.text_field :email, value: @profile.user.email
      </div %>
    </div>

    <div class="flex justify-between space-x-4">
      <%= f.submit "Save Changes", class: "btn-lg btn-primary" %>
      <%= link_to "Cancel", :back, class: "btn-lg btn-outline" %>
    </div>
  </div>
<% end %>