<!DOCTYPE html>
<html>
  <head>
    <title>MasteryBlog</title>

    <script 
      src="https://cdn.tiny.cloud/1/82i1zra2emdhclzhbkp2fdtnf0oafyx5yxr89bkls8cqaaur/tinymce/6/tinymce.js" 
      referrerpolicy="origin"
    >
    </script>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in?  %>
      <header class="flex items-center justify-between p-4 bg-slate-200">
        <%= button_to "signout", signout_path, method: :post %>

        <%= link_to profile_path(id: current_profile), class: "h-full" do %>
          <div class="w-12 h-12 overflow-hidden border-2 border-black border-solid rounded-full">
            <img src=<%= profile_image_url(current_profile) %> alt="" class="h-full object-fit">
          </div>
        <% end %>
      </header>
    <% end %>

    <main class="px-5 pb-8">
      <%= yield %>
    </main>
  </body>
</html>