<!DOCTYPE html>
<html>
  <head>
    <title>MasteryBlog</title>

    <script 
      src="https://cdn.tiny.cloud/1/82i1zra2emdhclzhbkp2fdtnf0oafyx5yxr89bkls8cqaaur/tinymce/6/tinymce.js" 
      referrerpolicy="origin"
    >
    </script>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "tinymce", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in?  %>
      <header class="flex items-center justify-between p-4 text-black border-b-[1px] border-solid border-gray shadow-md">
        <%# <%= button_to "signout", signout_path, method: :post %>
        <div class="w-8 aspect-1">
          <img src=<%= image_url("icons/hamburger.png") %> alt="" class="w-full h-full">
        </div>

        <%= link_to root_path do %>
          <h3>Mastery.</h3>
        <% end %>
        
        <%= link_to profile_path(id: current_profile), class: "h-full" do %>
          <div class="w-12 h-12 overflow-hidden border-2 border-black border-solid rounded-full">
            <%# <img src=<%= profile_image_url(current_profile) alt="" class="h-full object-fit" %>
            <img src=<%= image_url("Profile/pexels-pixabay-220453.jpg") %> alt="" class="object-cover w-full h-full">
          </div>
        <% end %>
      </header>
    <% else %>
      <header class="flex items-center justify-between p-4 text-black border-b-[1px] border-solid border-gray shadow-md">
        <div class="text-transparent btn-md">x</div>

        <%= link_to root_path do %>
          <h3>Mastery.</h3>
        <% end %>
        
        <%= link_to "signin", signin_path, class: "btn-outline btn-md" %>
      </header>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>